body {
  font-family: gbold;
  text-align: center;
}

@font-face {
  font-family: gbold;
  src: url(gothamBold.otf);
}

#pastynav {
  font-size: 17px;
  background-color: #dedede;
  font-family: monospace;
  position: sticky;
}

footer {
  color:#eeeeee;
  font-size:17px;
}

textarea {
  width: 500px; height: 500px;
}

#fname {
  font-family: monospace;
}

#ubt {
  background-color: #1a1a1a;
  color: white;
  font-family: monospace;
  border-color: #1a1a1a;
  padding: 0;
  width: 120px;
  height: 20px;
  cursor: pointer;
}

div {
  text-align: left;
}

#rawb {
  background-color: #1a1a1a;
  color: white;
  font-family: monospace;
  border-color: #1a1a1a;
  padding: 0;
  width: 120px;
  height: 20px;
  cursor: pointer;
  
}

#hidden {
  border: none;
  padding: 0;
  background: none;
  color: black;
  text-decoration: none;
}